<div class="container-fluid mainContainer animated fadeIn">
  <img class="animated bounce" src="../../../assets/images/LogoNovaIP.png" alt="logo novaip" height="150" width="500">
  <button class="btn btn-lg btn-outline-dark animated zoomIn mt-5 mb-2" (click)="goToUsuarios()">Registrar Usuarios</button>
  <button class="btn btn-lg btn-outline-dark animated zoomIn mb-2" (click)="goToTareas('registrar')">Registrar Tareas</button>
  <button class="btn btn-lg btn-outline-dark animated zoomIn" (click)="goToTareas('listar')">Listar Tareas</button>
  <div class="presentation">
    <blockquote class="blockquote animated slideInLeft">
      <p class="mb-0">Prueba presentada por</p>
      <footer class="blockquote-footer">Juan David <cite title="Source Title">Martínez Ríos</cite></footer>
    </blockquote>
  </div>
</div>