/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Questrial');
* {
    font-family: 'Questrial', sans-serif;
}

.blue-snackbar {
    background: #0d5298;
}

.red-snackbar {
    background: #c70039;
}